@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RussianLand';
  src: url('/src/fonts/RussianLand.ttf') 
  format('truetype');
}

@font-face {
  font-family: 'Bazilikin';
  src: url('/src/fonts/Bazilikin-Heavy.ttf') 
  format('truetype');
}

@font-face {
  font-family: 'Luminari';
  src: url('/src/fonts/Luminari.ttf') 
  format('truetype');
}

@font-face {
  font-family: 'Steravina';
  src: url'/src/fonts/Steravina.ttf'
  format('truetype');
}

@layer base {
  html {
    font-family: 'Steravina', 'Luminari', 'Times New Roman', serif;
  }
}